{% extends 'base.html' %}

{% block content %}
<main role="main">
    <div class="container pt-4 pb-5">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active">Продукция</li>
        </ol>

        <h1 class="h4 text-uppercase mb-4">Продукция</h1>

        <div class="row mx-n4">
            {% for item in products %}
            <div class="col-lg-4 col-sm-6 px-4">
                <div class="card mb-5">
                    <img src="{{ item.get_main_image.image_medium.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ item.title }}</h4>
                        <p class="card-text small text-muted">{{ item.short_desc|striptags|truncatechars:200 }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="{{ item.get_absolute_url }}" class="stretched-link smaller font-weight-bold">подробнее<i class="fas fa-long-arrow-alt-right fa-sm ml-2"></i></a>
                    </div>
                </div>
            </div>       
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}