{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{% static 'favicon.png' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/all.min.js' %}"></script>

<link href="{% static 'photoswipe/photoswipe.css' %}" rel="stylesheet" />
<link href="{% static 'photoswipe/default-skin/default-skin.css' %}" rel="stylesheet" />
<script src="{% static 'photoswipe/photoswipe.min.js' %}"></script>
<script src="{% static 'photoswipe/photoswipe-ui-default.min.js' %}"></script>

<script src='https://www.google.com/recaptcha/api.js'></script>