{% load flatpages %}
{% get_flatpages as flatpages %}

<!doctype html>
<html lang="ru">
    <head>
        {% include '__head.html' %}

        {% for item in seo_titles %}
            {% if request.path == item.url  %}
                <title>{{ item.seo_title }}</title>
                <meta name="description" content="{{ item.seo_desc }}">
                <meta name="keywords" content="{{ item.seo_kwrds }}">
            {% endif %}
        {% endfor %}

        {% block title %}
        {% endblock %}
    </head>
    <body>

        {% include '__header.html' %}

        {% block content %}
        {% endblock %}

        <div class="text-center shadow text-muted position-fixed scroll-to-top">
            <i class="fas fa-angle-up fa-2x"></i>
        </div>

        {% include 'modals/__callback_modal.html' %}

        {% include '__footer.html' %}

        {% include '__scripts.html' %}
    </body>
</html>